<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- add css -->
    <%- include('../partials/css.ejs') %>
    <title>Home</title>
</head>

<body>
    <!-- add header -->
    <%- include('../partials/header.ejs') %>

    <!-- main body -->
    <%- body %>

    <!-- add footer -->
    <%- include('../partials/footer.ejs') %>

    <!-- add js file -->
    <%- include('../partials/js.ejs') %>
</body>

</html>